@{
    ViewData["Title"] = "Page Not Found";
}

<style>
    .full-center-page {
        display: flex;
        flex-direction: column;
        align-items: center; /* سنتر بالعرض */
        justify-content: center; /* سنتر بالطول */
        height: 70vh; /* ارتفاع الصفحة عشان العناصر تتوسط */
        text-align: center;
    }
</style>

<div class="full-center-page">
    <h1 class="display-4">Oops!</h1>
    <p>It seems like the link you are trying to reach is incorrect or has been moved.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Home Page</a>
</div>